#!/usr/bin/env bash
set -e

# Default shell
export DEFAULT_SHELL=/bin/zsh

# Working directory
export WOOHOO_HOME=~/woohoo

# Zsh
export ZSH_INSTALL=1

# Chrome
export CHROME_INSTALL=1

# GIT
export GIT_INSTALL=1
export GIT_USER_NAME=
export GIT_USER_EMAIL=
export GIT_USER_KEY=
export GIT_EDITOR=nano

# GPG
export GPG_INSTALL=1

# Docker
export DOCKER_INSTALL=1

# PHP
export PHP_INSTALL=1

# Composer
export COMPOSER_INSTALL=1

# PHPStorm
export PHP_STORM_INSTALL=1

# MySQL Workbench
export MYSQL_WORKBENCH_INSTALL=1

# Nginx
export NGINX_INSTALL=0

# Poedit
export POEDIT_INSTALL=1

# Postman
export POSTMAN_INSTALL=1

# Slack
export SLACK_INSTALL=1

# PHP Development Tools
export PHP_DEV_TOOLS_INSTALL=1

# Helper
export DOLLAR='$'
